body {
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.photo {
  width: 140px;
}
.card {
  background-color: #ddebf8;
  color: #2b2839;
  margin: auto;
  width: 400px;
  padding: 20px;
  justify-content: space-around;
  display: flex;
  text-align: center;
  border-bottom: 10px solid #d8cefe;
}
