.back-button {
  padding-left: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  margin-left: 8px;
  cursor: pointer;
  margin-right: 15px;
  vertical-align: middle;
}
.link1 {
  font-size: 20;
  margin-right: 15px;
}
.stretch {
  background-color: green;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  margin-left: 9px;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition:
    padding-top 1s,
    padding-bottom 1s,
    padding-left 1s,
    padding-right 1s;
}
.stretch:hover {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 36px;
  padding-right: 36px;
}
.shadow-button {
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  cursor: pointer;
  margin-left: 8px;
  color: white;
  background-color: green;
  border: none;
  font-size: 20px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}
.shadow-button:active {
  margin-top: 3px;
  margin-left: 3px;
  box-shadow: none;
}
.one-button {
  background-color: green;
  color: white;
  border: none;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
  margin-right: 10px;

  transition:
    padding 0.15s,
    margin 0.15s;
}

.one-button:hover {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 0px;
  margin-right: 0px;
}
